<div class="sidebar-header">
    <a class="brand" href="">
        <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M3 13h2v8H3v-8zm4-4h2v12H7V9zm4-4h2v16h-2V5zm4 8h2v8h-2v-8zm4-4h2v12h-2V9z"/>
        </svg>
        <span class="brand-text">APS Actions</span>
    </a>
    <span class="brand-subtitle">APS Monitoring</span>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" id="nav-toggle" />
<label for="nav-toggle" class="navbar-toggler-label">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav class="nav-menu">
    <div class="nav-section">
        <span class="nav-section-title">Menu</span>
        
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
            </svg>
            <span class="nav-text">Home</span>
        </NavLink>

        <NavLink class="nav-link" href="dbsizestats">
            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 3C7.58 3 4 4.79 4 7v10c0 2.21 3.58 4 8 4s8-1.79 8-4V7c0-2.21-3.58-4-8-4zm0 2c3.87 0 6 1.5 6 2s-2.13 2-6 2-6-1.5-6-2 2.13-2 6-2zm6 12c0 .5-2.13 2-6 2s-6-1.5-6-2v-2.23c1.61.78 3.72 1.23 6 1.23s4.39-.45 6-1.23V17zm0-5c0 .5-2.13 2-6 2s-6-1.5-6-2V9.77c1.61.78 3.72 1.23 6 1.23s4.39-.45 6-1.23V12z"/>
            </svg>
            <span class="nav-text">DB Size Stats</span>
        </NavLink>

        <NavLink class="nav-link" href="dbfreespacealert">
            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
            </svg>
            <span class="nav-text">Free Space Alerts</span>
        </NavLink>
    </div>
</nav>
