<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Enable Windows Authentication, disable Anonymous -->
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
      
      <!-- IIS CORS Module configuration -->
      <!-- Requires IIS CORS Module: https://www.iis.net/downloads/microsoft/iis-cors-module -->
      <cors enabled="true" failUnlistedOrigins="false">
        <add origin="*" allowCredentials="false">
          <allowMethods>
            <add method="GET" />
            <add method="POST" />
            <add method="PUT" />
            <add method="DELETE" />
            <add method="OPTIONS" />
          </allowMethods>
          <allowHeaders allowAllRequestedHeaders="true" />
        </add>
      </cors>
      
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\XTCheck.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
